.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
*.sh
*.json.example
me.json
usage-summary-example.json
get-filtered-usage-events.json
out/test/**
